/* 限时促销 */
.loadFirst {
    width: 100%;
}

#indexLayer1 {
    width: 1200px;
    margin: 0 auto;
}

.indexAdBox {
    height: 130px;
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
}

.indexAdBox p {
    width: 290px;
    height: 126px;
    float: left;
    margin: 0 0 0 90px;
}

.indexAdBox p img {
    width: 290px;
    height: 126px;
}

.Lay_4 {
    background: #fff;
    z-index: 1;
    position: relative;
    margin-top: 10px;
}

.titlebox {
    height: 40px;
    line-height: 40px;
    background: #f9f9f9;
    padding: 0 3px;
}

.title_2 {
    margin: 10px 0 0 0;
    float: left;
    height: 20px;
    line-height: 20px;
    font-size: 0;
}

.title_2 i {
    background-position: 0 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.newIndexIcon {
    background: url(http://misc.jiuxian.com/img/newIndexImg/newIndexIcon-24.png) no-repeat;
}

.title_2 span {
    display: inline-block;
    vertical-align: middle;
    font-size: 17px;
    color: rgb(51, 51, 51);
    font-family: 微软雅黑;
    margin-left: 10px;
}

.rightNavBox {
    float: right;
    height: 9px;
    margin-top: 20px;
    font-size: 0;
    line-height: 0;
}

.rightNavBox span {
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    overflow: hidden;
    background: #cccccc;
    margin-left: 14px;
    cursor: pointer;
}

.rightNavBox .on {
    background: #cc0000;
}

.raceListWrap {
    border: 1px solid #ececec;
    position: relative;
    overflow: hidden;
    width: 1198px;
}

.raceListWrap .raceLeft {
    background-position: 0 -28px;
    left: 0;
}

.raceListWrap .raceArrow {
    width: 27px;
    height: 56px;
    display: block;
    position: absolute;
    top: 100px;
    z-index: 100;
    cursor: pointer;
}

.raceListWrap .raceRight {
    background-position: -28px -28px;
    right: 0;
}

.raceListWrap .raceArrow {
    width: 27px;
    height: 56px;
    display: block;
    position: absolute;
    top: 100px;
    z-index: 100;
    cursor: pointer;
}

.raceListWrap .receBoxs {
    width: 10000px;
    position: relative;
    height: 257px;
}

.raceList {
    width: 990px;
    padding: 0 4px;
    float: left;
    overflow: hidden;
    height: 257px;
    width: 1188px;
    padding: 0 5px;
}

.raceList li {
    float: left;
    width: 198px;
    padding: 20px 0 10px 0;
    position: relative;
    z-index: 1;
}

.raceList li .raceListPic {
    height: 160px;
    width: 160px;
    padding: 0 19px;
}

ul.clearfix li img {
    position: relative;
    z-index: 1;
}

.raceList li .raceListTit {
    width: 190px;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.raceList li .raceListPrice {
    width: 190px;
    padding: 0 4px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.raceList li .raceListPrice strong {
    font-family: 微软雅黑;
    font-size: 15px;
    color: rgb(205, 1, 0);
    font-weight: normal;
}

.raceList li .raceListTime {
    width: 194px;
    height: 26px;
    line-height: 26px;
    margin: 5px auto 0 auto;
    font-size: 0;
    padding-left: 4px;
    overflow: hidden;
}

.raceList li .raceListTime span {
    color: rgb(153, 153, 153);
    font-family: 微软雅黑;
    font-size: 12px;
}

.raceList li .raceListTime i {
    color: rgb(204, 0, 0);
    font-family: 微软雅黑;
    font-size: 12px;
    font-style: normal;
    text-align: center;
    padding: 0px 2px;
}

/* 1楼白酒馆 */
.Lay_5 {
    background: #fff;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}

.comTitle {
    float: left;
    font-size: 0;
}

.comTitle .comIcon1 {
    background-position: 0 -95px;
}

.comTitle i {
    width: 28px;
    height: 29px;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    font-family: Arial;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 29px;
    font-style: normal;
}

.comTitle span {
    display: inline-block;
    vertical-align: middle;
    color: rgb(51, 51, 51);
    font-size: 17px;
    margin-left: 10px;
    font-family: 微软雅黑;
}

.rightMenu {
    float: right;
    margin-left: 50px;
    color: #999;
}

.rightMenu a {
    padding: 0 7px;
    color: #999;
}

.rightMenu .goBlank {
    padding: 4px 7px;
    color: #fff;
    background: #d43d4e;
    height: 21px;
    border-radius: 2px;
}

.spiritWrap {
    width: 1198px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    border-top: 2px solid #c94b56;
    height: 485px;
    overflow: hidden;
}

.bannerSlier {
    height: 485px;
    width: 210px;
    position: relative;
    overflow: hidden;
    float: left;
}

.bannerSlier .imgBox {
    height: 485px;
    overflow: hidden;
}

.bannerSlier .imgBox ul {
    width: 5000px;
}

.bannerSlier .imgBox li {
    float: left;
    width: 210px;
    height: 485px;
}

.bannerSlier .btnBox {
    bottom: 10px;
    height: 13px;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
}

.bannerSlier .btnBg {
    display: inline-block;
    height: 13px;
    font-size: 0;
}

.bannerSlier .btnBg em {
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    height: 13px;
    margin: 0 4px;
    overflow: hidden;
    width: 13px;
    cursor: pointer;
}

.bannerSlier .btnBg em.on {
    background: #fc5422;
}

.spiritList {
    width: 988px;
    float: right;
    height: 485px;
    overflow: hidden;
    position: relative;
}

.spiritList li {
    float: left;
    width: 196px;
    height: 232px;
    border-bottom: 1px solid #ececec;
    border-left: 1px solid #ececec;
    position: relative;
    padding-top: 10px;
    z-index: 1;
}

.spiritListPic {
    width: 160px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

ul.clearfix li img {
    position: relative;
    z-index: 1;
}

.spiritListTit {
    width: 160px;
    padding: 0 18px;
    height: 36px;
    overflow: hidden;
    margin-top: 5px;
}

.spiritListTit a {
    display: block;
    width: 100%;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
}

.spiritListPrice {
    width: 178px;
    padding: 0 0 0 18px;
    height: 18px;
    overflow: hidden;
    line-height: 18px;
    white-space: nowrap;
}

.spiritListPrice strong {
    font-size: 12px;
    font-weight: normal;
    font-family: 微软雅黑;
    color: rgb(205, 1, 0);
    display: inline;
    vertical-align: middle;
}

.spiritListPrice span {
    font-size: 0px;
    margin-left: 3px;
    height: 18px;
    line-height: 18px;
    font-family: 微软雅黑;
    display: inline;
    vertical-align: middle;
    white-space: nowrap;
}

.spiritListPrice span em, .spiritListPrice span i {
    display: inline-block;
    vertical-align: middle;
}

.spiritListPrice span em {
    font-size: 12px;
    font-style: normal;
    color: #252525;
}

.spiritListPrice span i {
    background: url(http://misc.jiuxian.com/images/clubIcon.png) no-repeat;
    width: 40px;
    height: 14px;
    overflow: hidden;
    margin-left: 2px;
    display: none;
}

/* 热门推荐 */
.topTenWrap {
    height: 161px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}

.hotWordBox {
    float: left;
    width: 186px;
    border-right: 1px solid #ececec;
    background: #f9f9f9;
    height: 131px;
    padding: 20px 10px 10px 14px;
}

.hotWordBox li {
    width: 186px;
    font-family: 微软雅黑;
}

.hotWordBox li h3 {
    color: #cc0000;
    font-weight: bold;
    padding-right: 5px;
    font-size: 0;
}

.hotWordBox li h3 i {
    width: 3px;
    height: 3px;
    display: inline-block;
    vertical-align: middle;
    background: #d02229;
    overflow: hidden;
}

.hotWordBox li h3 span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-left: 5px;
}

.hotWordBox li {
    width: 186px;
    font-family: 微软雅黑;
    margin-top: 7px;
}

.hotWordBox li p {
    padding-left: 8px;
    width: 178px;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    margin-top: 5px;
}

.hotWordBox li p a {
    float: left;
    padding-right: 10px;
    font-size: 0;
}

.hotWordBox li p a span {
    font-size: 12px;
    display: block;
    width: 48px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
}

.topTenBox, .topTenCon, .topTenConWrap {
    width: 985px;
}

.topTenBox {
    width: 985px;
    float: right;
    height: 162px;
}

.topTenNavBox {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}

.topTenNavBox h3 {
    float: left;
    font-size: 0;
}

.topTenNavBox h3 .topTen1 {
    background-position: -38px 0;
}

.topTenNavBox h3 i {
    display: inline-block;
    vertical-align: middle;
    width: 11px;
    height: 13px;
    overflow: hidden;
}

.Lay_5 .topTenNavBox h3 span {
    color: #d43d4e;
}

.topTenNavBox h3 span {
    font-size: 12px;
    color: #d43d4e;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.topTenNav {
    float: right;
    height: 32px;
}

.topTenNav a {
    font-size: 12px;
    height: 32px;
    padding: 0 10px;
    display: block;
    float: left;
    color: #666;
}

.topTenNav span {
    float: left;
    display: block;
    color: #cccccc;
}

.topTenBox, .topTenCon, .topTenConWrap {
    width: 985px;
}

.topTenConWrap {
    width: 985px;
    height: 102px;
    padding: 10px 0 15px 0;
    overflow: hidden;
    position: relative;
}

.topTenBox, .topTenCon, .topTenConWrap {
    width: 985px;
}

.topTenCon {
    width: 985px;
    height: 102px;
    overflow: hidden;
}

.topTenCon li {
    float: left;
    width: 190px;
    margin-top: 10px;
    padding-right: 7px;
}

.topTenCon li .topTenOne {
    background-position: -150px -164px;
    width: 20px;
    display: block;
    float: left;
    height: 89px;
}

.topTenCon li .topTenPic {
    float: left;
}

.topTenCon li .topTenPic a img {
    width: 90px;
    height: 90px;
}

ul.clearfix li img {
    position: relative;
    z-index: 1;
}

.topTenCon li .topTenTitBox {
    float: left;
    width: 80px;
    padding-top: 5px;
}

.topTenCon li .topTenTitBox .topTenTit {
    width: 80px;
    height: 36px;
    line-height: 18px;
    font-family: 宋体;
    overflow: hidden;
}

.topTenCon li .topTenTitBox .topTenTit a {
    width: 80px;
    height: 36px;
    display: block;
}

.topTenCon li .topTenTitBox .topTenPrice {
    font-size: 16px;
    height: 18px;
    line-height: 18px;
    margin-top: 5px;
    color: rgb(204, 0, 0);
    width: 80px;
    font-family: 微软雅黑;
    overflow: hidden;
    background: rgb(255, 255, 255);
}

.topTenCon li .topTenTitBox .topTenPrice strong {
    font-size: 15px;
    font-weight: normal;
    color: #CD0100;
}